@charset "utf-8";
#container {
	width: 100%;
}
#logo {
	height:auto;
	width:270px;
	background-image: url(../images/sml_logo.png);
	margin-left:auto;
	margin-right:auto;
}
nav {
	padding-top:100px;
}
nav ul {
	font-size:24px;
}
nav ul a {
	width:97%;
	padding-right:0;
}
nav ul li {
	float:none;
}
nav ul li:hover {
	margin-top:0;
}